<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Articles</h1>
    <form enctype="multipart/form-data" class="my-4">
      <div class="form-row">
    
        <div class="col-md-12 mb-3">
          <input type="text" name="title" id="title" [(ngModel)]="newArticle.title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-12 mb-3">
          <input name="description" id="description" [(ngModel)]="newArticle.description" placeholder="Description" class="form-control"
            id="description">
        </div>
        <div class="col-md-12 mb-3">
          <input type="file" name="image" id="image" (change)="handleFileInput($event.target.files)" placeholder="Choose Image" class="form-control">
        </div>
        <div class="mx-auto col-md-6">
          <button type="submit" class="btn btn-primary btn-block" (click)="create()">Add</button>
        </div>
      </div>
    </form>
    <div class="articles" *ngIf="articlesList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Image</th>
            <th class="h">Title</th>
            <th class="h">Description</th>
            <th class="h">Date</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="article" (dblclick)="editArticle(article)" *ngFor="let article of articlesList">

            <ng-container *ngIf="!editArticles.includes(article); else editTD">
              <td><img src="http://localhost:3000/images/{{article.image}}" alt=""></td>
              <td>{{article.title}}</td>
              <td>{{article.description}}</td>
              <td>{{article.date | date}}</td>
            </ng-container>

            <ng-template #editTD>
              <td>
                <input type="file" name="image" id="edit-image" (keypress)="submitArticle($event, article)" (change)="setFile($event.target.files)" placeholder="Image"
                  class="form-control">
              </td>
              <td>
                <input type="text" name="title" id="edit-title" (keypress)="submitArticle($event, article)" [(ngModel)]="article.title" placeholder="Title"
                  class="form-control">
              </td>
              <td>
                <input type="text" name="description" id="edit-description" (keypress)="submitArticle($event, article)" [(ngModel)]="article.description"
                  placeholder="Description" class="form-control">
              </td>
              <td>{{article.date | date}}</td>
            </ng-template>

            <td class="o">              
              <button class="btn btn-primary" (click)="editArticle(article)">
                <i class="fa fa-pencil"></i>
              </button>              
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-2">

  </div>
</div>